@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 142 71% 45%;
    --muted: 240 5% 84%;
    --border: 240 5% 84%;

    --font-inter: 'Inter';
  }
}

@layer base {
  * {
    @apply border-border
  }

  body {
    @apply bg-background text-foreground font-inter
  }

  ::-webkit-scrollbar {
    display: none;
  }
}